<h3>Tags</h3>
<ul>
  {{#unless isLoadingTags}}
    {{#each tags as |tag|}}
      <li>
        {{#link-to "repo-user.repository.directory" tag.sha}}
          {{tag.name}}
        {{/link-to}}
      </li>
    {{else}}
      <li>No tags found</li>
    {{/each}}
  {{else}}
    Loading...
  {{/unless}}
</ul>

<h3>Branches</h3>
<ul>
  {{#unless isLoadingBranches}}
    {{#each branches as |branch|}}
      <li>
        {{#link-to "repo-user.repository.directory" branch.sha}}
          {{branch.name}}
        {{/link-to}}
      </li>
    {{else}}
      <li>No branches found</li>
    {{/each}}
  {{else}}
    Loading...
  {{/unless}}
</ul>

{{outlet}}
